Repository cse110-sp24-group4/cse110-sp24-group4, pull requests merged in 2024-06, with the labels that each got.

#124 display empty title and content as default values
  source/js/__testing__/puppeteer/notes.test.js
  source/js/notes.js
Labels: enhancement, note page

#129 fix tag filtering
  source/css/notes.css
  source/js/notes.js
  source/manifest.json
Labels: bug, note page

#113 Notes are created from completed tasks closes #95
  source/js/__testing__/puppeteer/task-list.test.js
  source/js/__testing__/puppeteer/task-to-note.test.js
  source/js/notes.js
  source/js/todo.js
Labels: note page

#151 add cache expiration
  source/sw.js
Labels: enhancement

#152 Pwa fixes
  source/index.html
  source/js/index.js
  source/js/project.js
  source/pages/project.html
Labels: enhancement
